.DS_Store
__pycache__
*.pyc
*.pyo

# Database
*.db

# IDE
.idea/
.vscode/
*.swp

# caches
.*_cache/

# Testing
.coverage
htmlcov/

# MkDocs
site/

# Virtual environment
.venv/
venv/

# agentic-related
.claude
CLAUDE.md
AGENTS.md
GEMINI.md
